<div class="related-posts">
    <div class="related-posts__item related-posts__next">
        {% for post in post.get_field('read_next') %}
            <h3 class="font32 bold grey">Read this next</h3>
            {% include "tease-post.twig" %}
        {% endfor %}
    </div>
    <div class="related-posts__item related-posts__same-cat">
        <h3 class="font32 bold grey">Other Reads on This Topic</h3>
        <div class="related-posts__posts-container">
            {% for post in same_cat %}
                <div class="related-posts__post">
                    <h4 class="font21 bold dark-green">
						<a class="dark-green" href="{{ post.link | e('esc_url')}}">{{ post.title | e('esc_html')}}</a>

					</h4>
					<div class="post-meta__time">
							<i class="post-meta__icon">
								<svg height="9" viewbox="0 0 10 9" width="10" xmlns="http://www.w3.org/2000/svg">
									<path d="M5.548 7.063c0 .284-.206.49-.49.49a.474.474 0 0 1-.489-.49V4.41a.043.043 0 0 0-.005-.018l-.722-1.333a.493.493 0 0 1 .167-.662l.003-.002a.493.493 0 0 1 .67.162l.01.016.734 1.358c.08.15.122.315.122.479zm2.716-5.79a4.526 4.526 0 1 0-6.402 6.402 4.526 4.526 0 0 0 6.402-6.402z" fill="#707070"/>
								</svg>
							</i>
							<span class="bold">{{ post.read_time | e('esc_html')}}</span>
							Min Read
						</div>

                </div>

            {% endfor %}

        </div>
        <div class="tease-post__read-more uppercase text-small">
            {%  if related_posts > 1  %}
                <a href="{{ current_cat_permalink }}">
                    {% include "partial/read-more-icon.twig" %}
                    <div class="tease-post__read-more--text">
                        See all
                        <strong>{{ related_posts }}
                            articles</strong>
                        on this topic
                    </div>
                </a>
                {# //TODO: get the number of posts of the cat and the link #}

            {% endif %}

        </div>

    </div>
</div>
